openapi: 3.1.0
info:
  version: 1.0.0
  title: GrowthBook REST AnalyticsExplorations settings API
  description: "GrowthBook offers a full REST API for interacting with the application.\n\nRequest data can use either JSON or Form data encoding (with proper `Content-Type` headers). All response bodies are JSON-encoded.\n\nThe API base URL for GrowthBook Cloud is `https://api.growthbook.io/api`. For self-hosted deployments, it is the same as your API_HOST environment variable (defaults to `http://localhost:3100/api`). The rest of these docs will assume you are using GrowthBook Cloud.\n\n## Versioning\n\nEndpoints are versioned by path prefix:\n\n- `/v1/...` — stable, widely-supported endpoints\n- `/v2/...` — updated endpoints with improved shapes (e.g. unified per-rule environment scope for feature flags)\n\nNew integrations should prefer v2 where available.\n\n## Authentication\n\nWe support both the HTTP Basic and Bearer authentication schemes for convenience.\n\nYou first need to generate a new API Key in GrowthBook. Different keys have different permissions:\n\n- **Personal Access Tokens**: These are sensitive and provide the same level of access as the user has to an organization. These can be created by going to `Personal Access Tokens` under the your user menu.\n- **Secret Keys**: These are sensitive and provide the level of access for the role, which currently is either `admin` or `readonly`. Only Admins with the `manageApiKeys` permission can manage Secret Keys on behalf of an organization. These can be created by going to `Settings -> API Keys`\n\nIf using HTTP Basic auth, pass the Secret Key as the username and leave the password blank (when using curl, add `:` at the end of the secret to indicate an empty password)\n\n```bash\ncurl https://api.growthbook.io/api/v1/features \\\n  -u secret_abc123DEF456:\n```\n\nIf using Bearer auth, pass the Secret Key as the token:\n\n```bash\ncurl https://api.growthbook.io/api/v1/features \\\n-H \"Authorization: Bearer secret_abc123DEF456\"\n```\n\n## Errors\n\nThe API may return the following error status codes:\n\n- **400** - Bad Request - Often due to a missing required parameter\n- **401** - Unauthorized - No valid API key provided\n- **402** - Request Failed - The parameters are valid, but the request failed\n- **403** - Forbidden - Provided API key does not have the required access\n- **404** - Not Found - Unknown API route or requested resource\n- **429** - Too Many Requests - You exceeded the rate limit of 60 requests per minute. Try again later.\n- **5XX** - Server Error - Something went wrong on GrowthBook's end (these are rare)\n\nThe response body will be a JSON object with the following properties:\n\n- **message** - Information about the error\n"
servers:
- url: https://api.growthbook.io/api
  description: GrowthBook Cloud
- url: https://{domain}/api
  description: Self-hosted GrowthBook
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: settings
  x-displayName: Settings
  description: Get the organization settings.
paths:
  /v1/settings:
    get:
      operationId: getSettings
      summary: Get organization settings
      tags:
      - settings
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  settings:
                    $ref: '#/components/schemas/Settings'
                required:
                - settings
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET 'https://api.growthbook.io/api/v1/settings' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
components:
  schemas:
    Settings:
      type: object
      properties:
        confidenceLevel:
          type: number
        northStar:
          anyOf:
          - type: object
            properties:
              title:
                type: string
              metricIds:
                type: array
                items:
                  type: string
            additionalProperties: false
          - type: 'null'
        metricDefaults:
          type: object
          properties:
            priorSettings:
              type: object
              properties:
                override:
                  type: boolean
                proper:
                  type: boolean
                mean:
                  type: number
                stddev:
                  type: number
              required:
              - override
              - proper
              - mean
              - stddev
              additionalProperties: false
            minimumSampleSize:
              type: number
            maxPercentageChange:
              type: number
            minPercentageChange:
              type: number
            targetMDE:
              type: number
          additionalProperties: false
        pastExperimentsMinLength:
          type: number
        metricAnalysisDays:
          type: number
        updateSchedule:
          anyOf:
          - type: object
            properties:
              type:
                type: string
                enum:
                - cron
                - never
                - stale
              cron:
                anyOf:
                - type: string
                - type: 'null'
              hours:
                anyOf:
                - type: number
                - type: 'null'
            additionalProperties: false
          - type: 'null'
        multipleExposureMinPercent:
          type: number
        defaultRole:
          type: object
          properties:
            role:
              type: string
            limitAccessByEnvironment:
              type: boolean
            environments:
              type: array
              items:
                type: string
          additionalProperties: false
        statsEngine:
          type: string
        pValueThreshold:
          type: number
        regressionAdjustmentEnabled:
          type: boolean
        regressionAdjustmentDays:
          type: number
        sequentialTestingEnabled:
          type: boolean
        sequentialTestingTuningParameter:
          type: number
        attributionModel:
          type: string
          enum:
          - firstExposure
          - experimentDuration
          - lookbackOverride
        targetMDE:
          type: number
        delayHours:
          type: number
        windowType:
          type: string
        windowHours:
          type: number
        winRisk:
          type: number
        loseRisk:
          type: number
        secureAttributeSalt:
          type: string
        killswitchConfirmation:
          type: boolean
        featureKillSwitchBehavior:
          type: string
          enum:
          - 'off'
          - warn
        requireReviews:
          type: array
          items:
            type: object
            properties:
              requireReviewOn:
                type: boolean
              resetReviewOnChange:
                type: boolean
              environments:
                type: array
                items:
                  type: string
              projects:
                type: array
                items:
                  type: string
              featureRequireEnvironmentReview:
                type: boolean
              featureRequireMetadataReview:
                type: boolean
            additionalProperties: false
        restApiBypassesReviews:
          type: boolean
        featureKeyExample:
          type: string
        featureRegexValidator:
          type: string
        banditScheduleValue:
          type: number
        banditScheduleUnit:
          type: string
          enum:
          - hours
          - days
        banditBurnInValue:
          type: number
        banditBurnInUnit:
          type: string
          enum:
          - hours
          - days
        experimentMinLengthDays:
          type: number
        experimentMaxLengthDays:
          anyOf:
          - type: number
          - type: 'null'
        preferredEnvironment:
          anyOf:
          - type: string
          - type: 'null'
        maxMetricSliceLevels:
          type: number
      required:
      - confidenceLevel
      - northStar
      - metricDefaults
      - pastExperimentsMinLength
      - metricAnalysisDays
      - updateSchedule
      - multipleExposureMinPercent
      - defaultRole
      - statsEngine
      - pValueThreshold
      - regressionAdjustmentEnabled
      - regressionAdjustmentDays
      - sequentialTestingEnabled
      - sequentialTestingTuningParameter
      - attributionModel
      - targetMDE
      - delayHours
      - windowType
      - windowHours
      - winRisk
      - loseRisk
      - secureAttributeSalt
      - killswitchConfirmation
      - requireReviews
      - featureKeyExample
      - featureRegexValidator
      - banditScheduleValue
      - banditScheduleUnit
      - banditBurnInValue
      - banditBurnInUnit
      - experimentMinLengthDays
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'If using Bearer auth, pass the Secret Key as the token:

        ```bash

        curl https://api.growthbook.io/api/v1/features   -H "Authorization: Bearer secret_abc123DEF456"

        ```

        '
    basicAuth:
      type: http
      scheme: basic
      description: 'If using HTTP Basic auth, pass the Secret Key as the username and leave the password blank:

        ```bash

        curl https://api.growthbook.io/api/v1/features   -u secret_abc123DEF456:

        # The ":" at the end stops curl from asking for a password

        ```

        '
x-tagGroups:
- name: Endpoints
  tags:
  - projects
  - environments
  - features-v2
  - feature-revisions-v2
  - features
  - feature-revisions
  - ramp-schedules
  - data-sources
  - fact-tables
  - fact-metrics
  - metrics
  - experiments
  - namespaces
  - snapshots
  - dimensions
  - segments
  - sdk-connections
  - visual-changesets
  - saved-groups
  - organizations
  - members
  - code-references
  - archetypes
  - queries
  - settings
  - attributes
  - usage
  - Dashboards
  - CustomFields
  - MetricGroups
  - Teams
  - ExperimentTemplates
  - AnalyticsExplorations
  - RampScheduleTemplates
- name: Models
  tags:
  - AnalyticsExploration_model
  - Archetype_model
  - Attribute_model
  - CodeRef_model
  - CustomField_model
  - Dashboard_model
  - DataSource_model
  - Dimension_model
  - Environment_model
  - Experiment_model
  - ExperimentAnalysisSettings_model
  - ExperimentDecisionFrameworkSettings_model
  - ExperimentMetric_model
  - ExperimentMetricOverrideEntry_model
  - ExperimentResults_model
  - ExperimentSnapshot_model
  - ExperimentTemplate_model
  - ExperimentWithEnhancedStatus_model
  - FactMetric_model
  - FactTable_model
  - FactTableColumn_model
  - FactTableFilter_model
  - Feature_model
  - FeatureBaseRule_model
  - FeatureDefinition_model
  - FeatureEnvironment_model
  - FeatureEnvironmentV2_model
  - FeatureExperimentRefRule_model
  - FeatureExperimentRule_model
  - FeatureForceRule_model
  - FeatureRevision_model
  - FeatureRevisionV2_model
  - FeatureRolloutRule_model
  - FeatureRule_model
  - FeatureRuleV2_model
  - FeatureSafeRolloutRule_model
  - FeatureV2_model
  - FeatureWithRevisions_model
  - FeatureWithRevisionsV2_model
  - InformationSchema_model
  - InformationSchemaTable_model
  - LookbackOverride_model
  - Member_model
  - Metric_model
  - MetricAnalysis_model
  - MetricGroup_model
  - MetricUsage_model
  - Namespace_model
  - NamespaceExperimentMember_model
  - Organization_model
  - PaginationFields_model
  - Project_model
  - Query_model
  - RampSchedule_model
  - RampScheduleTemplate_model
  - SavedGroup_model
  - ScheduleRule_model
  - SdkConnection_model
  - Segment_model
  - Settings_model
  - Team_model
  - VisualChange_model
  - VisualChangeset_model
