openapi: 3.2.0
info:
  version: 1.0.0
  title: GrowthBook REST Members API
  description: GrowthBook offers a full REST API for interacting with the application.
servers:
- url: https://api.growthbook.io/api
  description: GrowthBook Cloud
- url: https://{domain}/api
  description: Self-hosted GrowthBook
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Members
  x-displayName: Members
  description: Members are users who have been invited to an organization.
paths:
  /v1/members:
    get:
      operationId: listMembers
      summary: Get all organization members
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/userName'
      - $ref: '#/components/parameters/userEmail'
      - $ref: '#/components/parameters/globalRole'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    members:
                      type: array
                      items:
                        $ref: '#/components/schemas/Member'
                  required:
                  - members
                  additionalProperties: false
                - $ref: '#/components/schemas/PaginationFields'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET 'https://api.growthbook.io/api/v1/members' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/members/{id}/role:
    post:
      operationId: updateMemberRole
      summary: Update a member's global role (including any enviroment restrictions, if…
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                member:
                  type: object
                  properties:
                    role:
                      type: string
                    environments:
                      type: array
                      items:
                        type: string
                    projectRoles:
                      type: array
                      items:
                        type: object
                        properties:
                          project:
                            type: string
                          role:
                            type: string
                          environments:
                            type: array
                            items:
                              type: string
                          limitAccessByEnvironment:
                            type: boolean
                        required:
                        - project
                        - role
                        - environments
                        additionalProperties: false
                  additionalProperties: false
              required:
              - member
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedMember:
                    $ref: '#/components/schemas/updatedMember'
                required:
                - updatedMember
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/members/{id}/role' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/members/{id}:
    delete:
      operationId: deleteMember
      summary: Removes a single user from an organization
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  deletedId:
                    type: string
                required:
                - deletedId
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE 'https://api.growthbook.io/api/v1/members/abc123' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
components:
  parameters:
    offset:
      name: offset
      in: query
      description: How many items to skip (use in conjunction with limit for pagination)
      schema:
        default: 0
        description: How many items to skip (use in conjunction with limit for pagination)
        type: integer
        minimum: 0
    globalRole:
      name: globalRole
      in: query
      description: Name of the global role
      schema:
        description: Name of the global role
        type: string
    limit:
      name: limit
      in: query
      description: The number of items to return
      schema:
        default: 10
        description: The number of items to return
        type: integer
        minimum: 1
        maximum: 100
    userName:
      name: userName
      in: query
      description: Name of the user.
      schema:
        description: Name of the user.
        type: string
    id:
      name: id
      in: path
      required: true
      description: The id of the requested resource
      schema:
        description: The id of the requested resource
        type: string
    userEmail:
      name: userEmail
      in: query
      description: Email address of the user.
      schema:
        description: Email address of the user.
        type: string
  schemas:
    PaginationFields:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        count:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean
        nextOffset:
          anyOf:
          - type: integer
          - type: 'null'
      required:
      - limit
      - offset
      - count
      - total
      - hasMore
      - nextOffset
      additionalProperties: false
    Member:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        globalRole:
          type: string
        environments:
          type: array
          items:
            type: string
        limitAccessByEnvironment:
          type: boolean
        managedbyIdp:
          type: boolean
        teams:
          type: array
          items:
            type: string
        projectRoles:
          type: array
          items:
            type: object
            properties:
              project:
                type: string
              role:
                type: string
              limitAccessByEnvironment:
                type: boolean
              environments:
                type: array
                items:
                  type: string
            required:
            - project
            - role
            - limitAccessByEnvironment
            - environments
            additionalProperties: false
        lastLoginDate:
          format: date-time
          type: string
        dateCreated:
          format: date-time
          type: string
        dateUpdated:
          format: date-time
          type: string
      required:
      - id
      - email
      - globalRole
      additionalProperties: false
    updatedMember:
      type: object
      properties:
        id:
          type: string
        role:
          type: string
        environments:
          type: array
          items:
            type: string
        limitAccessByEnvironment:
          type: boolean
        projectRoles:
          type: array
          items:
            type: object
            properties:
              project:
                type: string
              role:
                type: string
              limitAccessByEnvironment:
                type: boolean
              environments:
                type: array
                items:
                  type: string
            required:
            - project
            - role
            - limitAccessByEnvironment
            - environments
            additionalProperties: false
      required:
      - id
      - role
      - environments
      - limitAccessByEnvironment
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'If using Bearer auth, pass the Secret Key as the token:

        ```bash

        curl https://api.growthbook.io/api/v1/features   -H "Authorization: Bearer secret_abc123DEF456"

        ```

        '
    basicAuth:
      type: http
      scheme: basic
      description: 'If using HTTP Basic auth, pass the Secret Key as the username and leave the password blank:

        ```bash

        curl https://api.growthbook.io/api/v1/features   -u secret_abc123DEF456:

        # The ":" at the end stops curl from asking for a password

        ```

        '
x-tagGroups:
- name: Endpoints
  tags:
  - projects
  - environments
  - features-v2
  - feature-revisions-v2
  - features
  - feature-revisions
  - ramp-schedules
  - data-sources
  - fact-tables
  - fact-metrics
  - metrics
  - experiments
  - namespaces
  - snapshots
  - dimensions
  - segments
  - sdk-connections
  - visual-changesets
  - saved-groups
  - organizations
  - members
  - code-references
  - archetypes
  - queries
  - settings
  - attributes
  - usage
  - Dashboards
  - CustomFields
  - MetricGroups
  - Teams
  - ExperimentTemplates
  - AnalyticsExplorations
  - RampScheduleTemplates
- name: Models
  tags:
  - AnalyticsExploration_model
  - Archetype_model
  - Attribute_model
  - CodeRef_model
  - CustomField_model
  - Dashboard_model
  - DataSource_model
  - Dimension_model
  - Environment_model
  - Experiment_model
  - ExperimentAnalysisSettings_model
  - ExperimentDecisionFrameworkSettings_model
  - ExperimentMetric_model
  - ExperimentMetricOverrideEntry_model
  - ExperimentResults_model
  - ExperimentSnapshot_model
  - ExperimentTemplate_model
  - ExperimentWithEnhancedStatus_model
  - FactMetric_model
  - FactTable_model
  - FactTableColumn_model
  - FactTableFilter_model
  - Feature_model
  - FeatureBaseRule_model
  - FeatureDefinition_model
  - FeatureEnvironment_model
  - FeatureEnvironmentV2_model
  - FeatureExperimentRefRule_model
  - FeatureExperimentRule_model
  - FeatureForceRule_model
  - FeatureRevision_model
  - FeatureRevisionV2_model
  - FeatureRolloutRule_model
  - FeatureRule_model
  - FeatureRuleV2_model
  - FeatureSafeRolloutRule_model
  - FeatureV2_model
  - FeatureWithRevisions_model
  - FeatureWithRevisionsV2_model
  - InformationSchema_model
  - InformationSchemaTable_model
  - LookbackOverride_model
  - Member_model
  - Metric_model
  - MetricAnalysis_model
  - MetricGroup_model
  - MetricUsage_model
  - Namespace_model
  - NamespaceExperimentMember_model
  - Organization_model
  - PaginationFields_model
  - Project_model
  - Query_model
  - RampSchedule_model
  - RampScheduleTemplate_model
  - SavedGroup_model
  - ScheduleRule_model
  - SdkConnection_model
  - Segment_model
  - Settings_model
  - Team_model
  - VisualChange_model
  - VisualChangeset_model
