openapi: 3.2.0
info:
  version: 1.0.0
  title: GrowthBook REST Feature Revisions API
  description: GrowthBook offers a full REST API for interacting with the application.
servers:
- url: https://api.growthbook.io/api
  description: GrowthBook Cloud
- url: https://{domain}/api
  description: Self-hosted GrowthBook
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: feature-revisions
  x-displayName: Feature Revisions (legacy)
  description: 'Draft revisions for feature flags, including rules, scheduling, and approval workflows.


    **These are v1 endpoints.** New integrations should use the v2 Feature Revisions endpoints.'
paths:
  /v1/revisions:
    get:
      operationId: listRevisions
      summary: List feature revisions
      description: '**Deprecated.** Use GET /v2/revisions instead.


        Returns a paginated list of feature revisions across all features in the organization. Optionally filtered by feature, status, author, and/or the calling user''s involvement. Results are sorted newest-first.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/skipPagination'
      - $ref: '#/components/parameters/featureId'
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/author'
      - $ref: '#/components/parameters/mine'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revisions:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureRevision'
                  limit:
                    type: integer
                  offset:
                    type: integer
                  count:
                    type: integer
                  total:
                    type: integer
                  hasMore:
                    type: boolean
                  nextOffset:
                    anyOf:
                    - type: integer
                    - type: 'null'
                required:
                - revisions
                - limit
                - offset
                - count
                - total
                - hasMore
                - nextOffset
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET 'https://api.growthbook.io/api/v1/revisions' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions:
    get:
      operationId: getFeatureRevisions
      summary: List revisions for a feature
      description: '**Deprecated.** Use GET /v2/features/:id/revisions instead.


        Returns a paginated list of revisions for this feature, sorted newest-first. Optionally filtered by status and/or author.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/skipPagination'
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/author'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revisions:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureRevision'
                  limit:
                    type: integer
                  offset:
                    type: integer
                  count:
                    type: integer
                  total:
                    type: integer
                  hasMore:
                    type: boolean
                  nextOffset:
                    anyOf:
                    - type: integer
                    - type: 'null'
                required:
                - revisions
                - limit
                - offset
                - count
                - total
                - hasMore
                - nextOffset
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET 'https://api.growthbook.io/api/v1/features/abc123/revisions' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
    post:
      operationId: postFeatureRevision
      summary: Create a draft revision
      description: '**Deprecated.** Use POST /v2/features/:id/revisions instead.


        Creates a new draft revision branched from the current live revision. A feature can have multiple concurrent drafts; use this to start an isolated line of edits.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                title:
                  type: string
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revisions' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/latest:
    get:
      operationId: getFeatureRevisionLatest
      summary: Get the most recent active draft revision
      description: '**Deprecated.** Use GET /v2/features/:id/revisions/latest instead.


        Returns the most recently updated draft revision for the feature. Returns 404 if there is no active draft. Pass `mine=true` to return the most recent draft authored by or contributed to by the calling user (requires a user-scoped API key).'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: mine
        in: query
        description: If true, return only the most recent active draft authored by or contributed to by the calling user. Requires a user-scoped API key.
        schema:
          description: If true, return only the most recent active draft authored by or contributed to by the calling user. Requires a user-scoped API key.
          anyOf:
          - type: string
            const: 'true'
          - type: string
            const: 'false'
          - type: string
            const: '0'
          - type: string
            const: '1'
          - type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET 'https://api.growthbook.io/api/v1/features/{id}/revisions/latest' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}:
    get:
      operationId: getFeatureRevision
      summary: Get a single feature revision
      description: '**Deprecated.** Use GET /v2/features/:id/revisions/:version instead.


        Returns the revision at the specified version for this feature. Use `GET /features/{id}/revisions/latest` for the most recent active draft.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/version'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/metadata:
    put:
      operationId: putFeatureRevisionMetadata
      summary: Update revision metadata (comment, title, feature metadata)
      description: '**Deprecated.** Use PUT /v2/features/:id/revisions/:version/metadata instead.


        Updates draft-level metadata (`comment`, `title`) and/or feature-level metadata (owner, project, tags, customFields, jsonSchema, etc.). Merge semantics: omitted fields are left unchanged; any provided field replaces the current value (pass an empty string/array/object to clear). Feature metadata changes are staged on the revision and applied to the feature on publish. Changing `project` requires publish permission on both the old and new project.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                title:
                  type: string
                description:
                  type: string
                owner:
                  description: The userId or email address of the owner. If an email address is provided, it will be used to look up the userId of the matching organization member. If an ID is provided, it will be validated as existing in the organization.
                  type: string
                project:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                neverStale:
                  type: boolean
                customFields:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties: {}
                jsonSchema:
                  type: object
                  properties:
                    schemaType:
                      type: string
                      enum:
                      - schema
                      - simple
                    schema:
                      type: string
                    simple:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - object
                          - object[]
                          - primitive
                          - primitive[]
                        fields:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                maxLength: 64
                              type:
                                type: string
                                enum:
                                - integer
                                - float
                                - string
                                - boolean
                              required:
                                type: boolean
                              default:
                                type: string
                                maxLength: 256
                              description:
                                type: string
                                maxLength: 256
                              enum:
                                maxItems: 256
                                type: array
                                items:
                                  type: string
                                  maxLength: 256
                              min:
                                type: number
                              max:
                                type: number
                            required:
                            - key
                            - type
                            - required
                            - default
                            - description
                            - enum
                            - min
                            - max
                            additionalProperties: false
                      required:
                      - type
                      - fields
                      additionalProperties: false
                    date: {}
                    enabled:
                      type: boolean
                  required:
                  - schemaType
                  - schema
                  - simple
                  - date
                  - enabled
                  additionalProperties: false
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/metadata' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/default-value:
    put:
      operationId: putFeatureRevisionDefaultValue
      summary: Set the default value in a draft revision
      description: '**Deprecated.** Use PUT /v2/features/:id/revisions/:version/default-value instead.


        Replaces the feature''s default value for this revision. The value must be a string representation matching the feature''s value type (e.g. `"true"` for booleans, `42` for numbers, a JSON string for JSON features).'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                defaultValue:
                  type: string
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              required:
              - defaultValue
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/default-value' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/prerequisites:
    put:
      operationId: putFeatureRevisionPrerequisites
      summary: Set feature-level prerequisites in a draft revision
      description: '**Deprecated.** Use PUT /v2/features/:id/revisions/:version/prerequisites instead.


        Replaces the feature''s prerequisite list for this revision. Each prerequisite condition is evaluated against `{ value: }` at SDK eval time — use `value` as the condition key.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prerequisites:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      condition:
                        type: string
                    required:
                    - id
                    - condition
                    additionalProperties: false
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              required:
              - prerequisites
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/prerequisites' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/holdout:
    put:
      operationId: putFeatureRevisionHoldout
      summary: Set holdout in a draft revision
      description: '**Deprecated.** Use PUT /v2/features/:id/revisions/:version/holdout instead.


        Sets (or clears, via `holdout: null`) the holdout experiment bound to the feature. Holdout linkage side-effects (updating the holdout''s linked feature list) are applied on publish.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                holdout:
                  anyOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      value:
                        type: string
                    required:
                    - id
                    - value
                    additionalProperties: false
                  - type: 'null'
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              required:
              - holdout
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/holdout' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/archive:
    put:
      operationId: putFeatureRevisionArchive
      summary: Set archived state in a draft revision
      description: '**Deprecated.** Use PUT /v2/features/:id/revisions/:version/archive instead.


        Sets whether the feature is archived. Archived features are excluded from SDK payloads on publish.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                archived:
                  type: boolean
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              required:
              - archived
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/archive' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/toggle:
    post:
      operationId: postFeatureRevisionToggle
      summary: Toggle an environment on/off in a draft revision
      description: '**Deprecated.** Use POST /v2/features/:id/revisions/:version/toggle instead.


        Sets whether the feature is enabled in the given environment as part of the draft. Takes effect on publish.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment:
                  type: string
                enabled:
                  type: boolean
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              required:
              - environment
              - enabled
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/toggle' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/rules:
    post:
      operationId: postFeatureRevisionRuleAdd
      summary: Add a rule to a draft revision
      description: '**Deprecated.** Use POST /v2/features/:id/revisions/:version/rules instead, which accepts rules with unified `allEnvironments`/`environments` scope fields instead of a per-environment `environment` parameter.


        Appends a new rule to the end of the rule list for the given environment. A `rule.type` of `force`, `rollout`, `experiment-ref`, or `safe-rollout` determines the accepted shape. Use `rampSchedule` for ramp configuration or `schedule` for a simple start/end window; if both are provided, `rampSchedule` wins.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment:
                  type: string
                rule:
                  anyOf:
                  - type: object
                    properties:
                      description:
                        type: string
                      enabled:
                        type: boolean
                      condition:
                        type: string
                      savedGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            match:
                              type: string
                              enum:
                              - all
                              - none
                              - any
                            ids:
                              type: array
                              items:
                                type: string
                          required:
                          - match
                          - ids
                          additionalProperties: false
                      prerequisites:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            condition:
                              type: string
                          required:
                          - id
                          - condition
                          additionalProperties: false
                      scheduleRules:
                        type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              anyOf:
                              - type: string
                              - type: 'null'
                            enabled:
                              type: boolean
                          required:
                          - timestamp
                          - enabled
                          additionalProperties: false
                      scheduleType:
                        type: string
                        enum:
                        - none
                        - schedule
                        - ramp
                      type:
                        type: string
                        const: experiment-ref
                      experimentId:
                        type: string
                      variations:
                        type: array
                        items:
                          type: object
                          properties:
                            variationId:
                              type: string
                            value:
                              type: string
                          required:
                          - value
                          additionalProperties: false
                    required:
                    - type
                    - experimentId
                    - variations
                    additionalProperties: false
                  - type: object
                    properties:
                      description:
                        type: string
                      enabled:
                        type: boolean
                      condition:
                        type: string
                      savedGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            match:
                              type: string
                              enum:
                              - all
                              - none
                              - any
                            ids:
                              type: array
                              items:
                                type: string
                          required:
                          - match
                          - ids
                          additionalProperties: false
                      prerequisites:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            condition:
                              type: string
                          required:
                          - id
                          - condition
                          additionalProperties: false
                      scheduleRules:
                        type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              anyOf:
                              - type: string
                              - type: 'null'
                            enabled:
                              type: boolean
                          required:
                          - timestamp
                          - enabled
                          additionalProperties: false
                      scheduleType:
                        type: string
                        enum:
                        - none
                        - schedule
                        - ramp
                      type:
                        type: string
                        const: safe-rollout
                      controlValue:
                        type: string
                      variationValue:
                        type: string
                      hashAttribute:
                        type: string
                      trackingKey:
                        type: string
                      seed:
                        type: string
                      safeRolloutFields:
                        type: object
                        properties:
                          datasourceId:
                            type: string
                          exposureQueryId:
                            type: string
                          guardrailMetricIds:
                            type: array
                            items:
                              type: string
                          maxDuration:
                            type: object
                            properties:
                              amount:
                                type: number
                                exclusiveMinimum: 0
                              unit:
                                type: string
                                enum:
                                - weeks
                                - days
                                - hours
                                - minutes
                            required:
                            - amount
                            - unit
                            additionalProperties: false
                          autoRollback:
                            type: boolean
                          rampUpSchedule:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                              steps:
                                minItems: 1
                                type: array
                                items:
                                  type: object
                                  properties:
                                    percent:
                                      type: number
                                      minimum: 0
                                      maximum: 1
                                  required:
                                  - percent
                                  additionalProperties: false
                            required:
                            - enabled
                            additionalProperties: false
                        required:
                        - datasourceId
                        - exposureQueryId
                        - guardrailMetricIds
                        - maxDuration
                        additionalProperties: false
                    required:
                    - type
                    - controlValue
                    - variationValue
                    - hashAttribute
                    - safeRolloutFields
                    additionalProperties: false
                  - type: object
                    properties:
                      description:
                        type: string
                      enabled:
                        type: boolean
                      condition:
                        type: string
                      savedGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            match:
                              type: string
                              enum:
                              - all
                              - none
                              - any
                            ids:
                              type: array
                              items:
                                type: string
                          required:
                          - match
                          - ids
                          additionalProperties: false
                      prerequisites:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            condition:
                              type: string
                          required:
                          - id
                          - condition
                          additionalProperties: false
                      scheduleRules:
                        type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              anyOf:
                              - type: string
                              - type: 'null'
                            enabled:
                              type: boolean
                          required:
                          - timestamp
                          - enabled
                          additionalProperties: false
                      scheduleType:
                        type: string
                        enum:
                        - none
                        - schedule
                        - ramp
                      type:
                        type: string
                        enum:
                        - force
                        - rollout
                      value:
                        type: string
                      coverage:
                        type: number
                        minimum: 0
                        maximum: 1
                      hashAttribute:
                        type: string
                      seed:
                        type: string
                    required:
                    - value
                    additionalProperties: false
                rampSchedule:
                  type: object
                  properties:
                    name:
                      type: string
                    templateId:
                      type: string
                    steps:
                      type: array
                      items:
                        type: object
                        properties:
                          trigger:
                            anyOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  const: interval
                                seconds:
                                  type: number
                                  exclusiveMinimum: 0
                              required:
                              - type
                              - seconds
                              additionalProperties: false
                            - type: object
                              properties:
                                type:
                                  type: string
                                  const: approval
                              required:
                              - type
                              additionalProperties: false
                            - type: object
                              properties:
                                type:
                                  type: string
                                  const: scheduled
                                at: {}
                              required:
                              - type
                              - at
                              additionalProperties: false
                          actions:
                            type: array
                            items:
                              type: object
                              properties:
                                targetType:
                                  type: string
                                  const: feature-rule
                                targetId:
                                  type: string
                                patch:
                                  type: object
                                  properties:
                                    ruleId:
                                      type: string
                                    coverage:
                                      anyOf:
                                      - type: number
                                        minimum: 0
                                        maximum: 1
                                      - type: 'null'
                                    condition:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    savedGroups:
                                      anyOf:
                                      - type: array
                                        items:
                                          type: object
                                          properties:
                                            match:
                                              type: string
                                              enum:
                                              - all
                                              - none
                                              - any
                                            ids:
                                              type: array
                                              items:
                                                type: string
                                          required:
                                          - match
                                          - ids
                                          additionalProperties: false
                                      - type: 'null'
                                    prerequisites:
                                      anyOf:
                                      - type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                            condition:
                                              type: string
                                          required:
                                          - id
                                          - condition
                                          additionalProperties: false
                                      - type: 'null'
                                    force:
                                      description: Force value (any JSON type)
                                    enabled:
                                      anyOf:
                                      - type: boolean
                                      - type: 'null'
                                  additionalProperties: false
                              required:
                              - patch
                              additionalProperties: false
                          approvalNotes:
                            anyOf:
                            - type: string
                            - type: 'null'
                        required:
                        - trigger
                        additionalProperties: false
                    endActions:
                      type: array
                      items:
                        type: object
                        properties:
                          targetType:
                            type: string
                            const: feature-rule
                          targetId:
                            type: string
                          patch:
                            type: object
                            properties:
                              ruleId:
                                type: string
                              coverage:
                                anyOf:
                                - type: number
                                  minimum: 0
                                  maximum: 1
                                - type: 'null'
                              condition:
                                anyOf:
                                - type: string
                                - type: 'null'
                              savedGroups:
                                anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      match:
                                        type: string
                                        enum:
                                        - all
                                        - none
                                        - any
                                      ids:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                    - match
                                    - ids
                                    additionalProperties: false
                                - type: 'null'
                              prerequisites:
                                anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      condition:
                                        type: string
                                    required:
                                    - id
                                    - condition
                                    additionalProperties: false
                                - type: 'null'
                              force:
                                description: Force value (any JSON type)
                              enabled:
                                anyOf:
                                - type: boolean
                                - type: 'null'
                            additionalProperties: false
                        required:
                        - patch
                        additionalProperties: false
                    startDate:
                      anyOf:
                      - type: string
                      - type: 'null'
                    endCondition:
                      type: object
                      properties:
                        trigger:
                          anyOf:
                          - type: object
                            properties:
                              type:
                                type: string
                                const: scheduled
                              at: {}
                            required:
                            - type
                            - at
                            additionalProperties: false
                      additionalProperties: false
                  additionalProperties: false
                schedule:
                  type: object
                  properties:
                    startDate:
                      anyOf:
                      - type: string
                      - type: 'null'
                    endDate:
                      anyOf:
                      - type: string
                      - type: 'null'
                  additionalProperties: false
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              required:
              - environment
              - rule
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/rules' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/rules/{ruleId}:
    put:
      operationId: putFeatureRevisionRule
      summary: Update a rule in a draft revision
      description: '**Deprecated.** Use PUT /v2/features/:id/revisions/:version/rules/:ruleId instead, which locates rules by `ruleId` in the flat array without an `environment` parameter.


        Patches fields on an existing rule. The rule `type` cannot be changed — to convert types, delete and re-add. Fields that don''t apply to the current rule type are rejected.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      - $ref: '#/components/parameters/ruleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment:
                  type: string
                rule:
                  type: object
                  properties:
                    description:
                      type: string
                    enabled:
                      type: boolean
                    condition:
                      type: string
                    savedGroups:
                      type: array
                      items:
                        type: object
                        properties:
                          match:
                            type: string
                            enum:
                            - all
                            - none
                            - any
                          ids:
                            type: array
                            items:
                              type: string
                        required:
                        - match
                        - ids
                        additionalProperties: false
                    prerequisites:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          condition:
                            type: string
                        required:
                        - id
                        - condition
                        additionalProperties: false
                    scheduleRules:
                      anyOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              anyOf:
                              - type: string
                              - type: 'null'
                            enabled:
                              type: boolean
                          required:
                          - timestamp
                          - enabled
                          additionalProperties: false
                      - type: 'null'
                    scheduleType:
                      anyOf:
                      - type: string
                        enum:
                        - none
                        - schedule
                        - ramp
                      - type: 'null'
                    type:
                      type: string
                      enum:
                      - force
                      - rollout
                      - experiment-ref
                      - safe-rollout
                    value:
                      type: string
                    coverage:
                      type: number
                      minimum: 0
                      maximum: 1
                    hashAttribute:
                      type: string
                    seed:
                      type: string
                    experimentId:
                      type: string
                    variations:
                      type: array
                      items:
                        type: object
                        properties:
                          variationId:
                            type: string
                          value:
                            type: string
                        required:
                        - variationId
                        - value
                        additionalProperties: false
                    controlValue:
                      type: string
                    variationValue:
                      type: string
                  additionalProperties: false
                rampSchedule:
                  type: object
                  properties:
                    name:
                      type: string
                    templateId:
                      type: string
                    steps:
                      type: array
                      items:
                        type: object
                        properties:
                          trigger:
                            anyOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  const: interval
                                seconds:
                                  type: number
                                  exclusiveMinimum: 0
                              required:
                              - type
                              - seconds
                              additionalProperties: false
                            - type: object
                              properties:
                                type:
                                  type: string
                                  const: approval
                              required:
                              - type
                              additionalProperties: false
                            - type: object
                              properties:
                                type:
                                  type: string
                                  const: scheduled
                                at: {}
                              required:
                              - type
                              - at
                              additionalProperties: false
                          actions:
                            type: array
                            items:
                              type: object
                              properties:
                                targetType:
                                  type: string
                                  const: feature-rule
                                targetId:
                                  type: string
                                patch:
                                  type: object
                                  properties:
                                    ruleId:
                                      type: string
                                    coverage:
                                      anyOf:
                                      - type: number
                                        minimum: 0
                                        maximum: 1
                                      - type: 'null'
                                    condition:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    savedGroups:
                                      anyOf:
                                      - type: array
                                        items:
                                          type: object
                                          properties:
                                            match:
                                              type: string
                                              enum:
                                              - all
                                              - none
                                              - any
                                            ids:
                                              type: array
                                              items:
                                                type: string
                                          required:
                                          - match
                                          - ids
                                          additionalProperties: false
                                      - type: 'null'
                                    prerequisites:
                                      anyOf:
                                      - type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                            condition:
                                              type: string
                                          required:
                                          - id
                                          - condition
                                          additionalProperties: false
                                      - type: 'null'
                                    force:
                                      description: Force value (any JSON type)
                                    enabled:
                                      anyOf:
                                      - type: boolean
                                      - type: 'null'
                                  additionalProperties: false
                              required:
                              - patch
                              additionalProperties: false
                          approvalNotes:
                            anyOf:
                            - type: string
                            - type: 'null'
                        required:
                        - trigger
                        additionalProperties: false
                    endActions:
                      type: array
                      items:
                        type: object
                        properties:
                          targetType:
                            type: string
                            const: feature-rule
                          targetId:
                            type: string
                          patch:
                            type: object
                            properties:
                              ruleId:
                                type: string
                              coverage:
                                anyOf:
                                - type: number
                                  minimum: 0
                                  maximum: 1
                                - type: 'null'
                              condition:
                                anyOf:
                                - type: string
                                - type: 'null'
                              savedGroups:
                                anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      match:
                                        type: string
                                        enum:
                                        - all
                                        - none
                                        - any
                                      ids:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                    - match
                                    - ids
                                    additionalProperties: false
                                - type: 'null'
                              prerequisites:
                                anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      condition:
                                        type: string
                                    required:
                                    - id
                                    - condition
                                    additionalProperties: false
                                - type: 'null'
                              force:
                                description: Force value (any JSON type)
                              enabled:
                                anyOf:
                                - type: boolean
                                - type: 'null'
                            additionalProperties: false
                        required:
                        - patch
                        additionalProperties: false
                    startDate:
                      anyOf:
                      - type: string
                      - type: 'null'
                    endCondition:
                      type: object
                      properties:
                        trigger:
                          anyOf:
                          - type: object
                            properties:
                              type:
                                type: string
                                const: scheduled
                              at: {}
                            required:
                            - type
                            - at
                            additionalProperties: false
                      additionalProperties: false
                  additionalProperties: false
                schedule:
                  type: object
                  properties:
                    startDate:
                      anyOf:
                      - type: string
                      - type: 'null'
                    endDate:
                      anyOf:
                      - type: string
                      - type: 'null'
                  additionalProperties: false
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              required:
              - environment
              - rule
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/rules/{ruleId}' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
    delete:
      operationId: deleteFeatureRevisionRule
      summary: Delete a rule from a draft revision
      description: '**Deprecated.** Use DELETE /v2/features/:id/revisions/:version/rules/:ruleId instead, which removes the rule from the flat array without an `environment` parameter.


        Removes the rule from the specified environment. Any pending ramp actions on the draft for this rule are also cleared.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      - $ref: '#/components/parameters/ruleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment:
                  type: string
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              required:
              - environment
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/rules/{ruleId}' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/rules/reorder:
    post:
      operationId: postFeatureRevisionRulesReorder
      summary: Reorder rules in an environment
      description: '**Deprecated.** Use POST /v2/features/:id/revisions/:version/rules/reorder instead, which reorders the global flat rule array without an `environment` parameter.


        Replaces the rule order for the environment. `ruleIds` must contain **exactly** the set of existing rule IDs in that environment — no additions, omissions, or duplicates.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment:
                  type: string
                ruleIds:
                  type: array
                  items:
                    type: string
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              required:
              - environment
              - ruleIds
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/rules/reorder' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/rules/{ruleId}/ramp-schedule:
    put:
      operationId: putFeatureRevisionRuleRampSchedule
      summary: Set ramp schedule for a rule
      description: '**Deprecated.** Use PUT /v2/features/:id/revisions/:version/rules/:ruleId/ramp-schedule instead.


        Attaches (or replaces) a ramp schedule for the rule. Rejects if the rule already has a live ramp schedule — update that directly via PUT /ramp-schedules/{id}. The schedule is created at publish time.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      - $ref: '#/components/parameters/ruleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                templateId:
                  type: string
                steps:
                  type: array
                  items:
                    type: object
                    properties:
                      trigger:
                        anyOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              const: interval
                            seconds:
                              type: number
                              exclusiveMinimum: 0
                          required:
                          - type
                          - seconds
                          additionalProperties: false
                        - type: object
                          properties:
                            type:
                              type: string
                              const: approval
                          required:
                          - type
                          additionalProperties: false
                        - type: object
                          properties:
                            type:
                              type: string
                              const: scheduled
                            at: {}
                          required:
                          - type
                          - at
                          additionalProperties: false
                      actions:
                        type: array
                        items:
                          type: object
                          properties:
                            targetType:
                              type: string
                              const: feature-rule
                            targetId:
                              type: string
                            patch:
                              type: object
                              properties:
                                ruleId:
                                  type: string
                                coverage:
                                  anyOf:
                                  - type: number
                                    minimum: 0
                                    maximum: 1
                                  - type: 'null'
                                condition:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                savedGroups:
                                  anyOf:
                                  - type: array
                                    items:
                                      type: object
                                      properties:
                                        match:
                                          type: string
                                          enum:
                                          - all
                                          - none
                                          - any
                                        ids:
                                          type: array
                                          items:
                                            type: string
                                      required:
                                      - match
                                      - ids
                                      additionalProperties: false
                                  - type: 'null'
                                prerequisites:
                                  anyOf:
                                  - type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                        condition:
                                          type: string
                                      required:
                                      - id
                                      - condition
                                      additionalProperties: false
                                  - type: 'null'
                                force:
                                  description: Force value (any JSON type)
                                enabled:
                                  anyOf:
                                  - type: boolean
                                  - type: 'null'
                              additionalProperties: false
                          required:
                          - patch
                          additionalProperties: false
                      approvalNotes:
                        anyOf:
                        - type: string
                        - type: 'null'
                    required:
                    - trigger
                    additionalProperties: false
                endActions:
                  type: array
                  items:
                    type: object
                    properties:
                      targetType:
                        type: string
                        const: feature-rule
                      targetId:
                        type: string
                      patch:
                        type: object
                        properties:
                          ruleId:
                            type: string
                          coverage:
                            anyOf:
                            - type: number
                              minimum: 0
                              maximum: 1
                            - type: 'null'
                          condition:
                            anyOf:
                            - type: string
                            - type: 'null'
                          savedGroups:
                            anyOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  match:
                                    type: string
                                    enum:
                                    - all
                                    - none
                                    - any
                                  ids:
                                    type: array
                                    items:
                                      type: string
                                required:
                                - match
                                - ids
                                additionalProperties: false
                            - type: 'null'
                          prerequisites:
                            anyOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  condition:
                                    type: string
                                required:
                                - id
                                - condition
                                additionalProperties: false
                            - type: 'null'
                          force:
                            description: Force value (any JSON type)
                          enabled:
                            anyOf:
                            - type: boolean
                            - type: 'null'
                        additionalProperties: false
                    required:
                    - patch
                    additionalProperties: false
                startDate:
                  anyOf:
                  - type: string
                  - type: 'null'
                endCondition:
                  type: object
                  properties:
                    trigger:
                      anyOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            const: scheduled
                          at: {}
                        required:
                        - type
                        - at
                        additionalProperties: false
                  additionalProperties: false
                environment:
                  deprecated: true
                  type: string
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/rules/{ruleId}/ramp-schedule' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
    delete:
      operationId: deleteFeatureRevisionRuleRampSchedule
      summary: Remove ramp schedule from a rule
      description: '**Deprecated.** Use DELETE /v2/features/:id/revisions/:version/rules/:ruleId/ramp-schedule instead.


        Removes a pending ramp schedule attached by the draft. If the rule currently has a live ramp schedule, a detach action is queued and applied at publish time.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          anyOf:
          - type: integer
          - type: string
            const: new
      - $ref: '#/components/parameters/ruleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment:
                  deprecated: true
                  type: string
                revisionTitle:
                  type: string
                revisionComment:
                  type: string
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/rules/{ruleId}/ramp-schedule' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/request-review:
    post:
      operationId: postFeatureRevisionRequestReview
      summary: Request review for a draft revision
      description: '**Deprecated.** Use POST /v2/features/:id/revisions/:version/request-review instead.


        Moves the draft into the `pending-review` state and notifies reviewers.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/request-review' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/submit-review:
    post:
      operationId: postFeatureRevisionSubmitReview
      summary: Submit a review on a draft revision
      description: '**Deprecated.** Use POST /v2/features/:id/revisions/:version/submit-review instead.


        Submits an `approve`, `request-changes`, or `comment` review on the draft. Contributors cannot approve their own drafts, but may submit comments or request changes.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                action:
                  type: string
                  enum:
                  - approve
                  - request-changes
                  - comment
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/submit-review' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/merge-status:
    get:
      operationId: getFeatureRevisionMergeStatus
      summary: Get merge status for a draft revision
      description: '**Deprecated.** Use GET /v2/features/:id/revisions/:version/merge-status instead.


        Runs a dry-run merge of the draft against the current live revision and returns any conflicts. Use this before publishing to preview changes and detect conflicting edits.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/version'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  conflicts:
                    type: array
                    items:
                      $ref: '#/components/schemas/conflicts'
                  result:
                    $ref: '#/components/schemas/result'
                required:
                - success
                - conflicts
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/merge-status' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/rebase:
    post:
      operationId: postFeatureRevisionRebase
      summary: Rebase a draft revision onto the current live version
      description: '**Deprecated.** Use POST /v2/features/:id/revisions/:version/rebase instead.


        Updates the draft''s base revision to match the currently-live revision, applying the draft''s changes on top. Supply `conflictResolutions` to resolve any conflicting fields.


        **Conflict key format changed for v1 clients.** Rules now merge as a single flat array, so the per-rule `envName.ruleId` keys used by older clients are no longer recognized. Valid keys: `defaultValue`, `rules`, `prerequisites`, `archived`, `holdout`, and `environmentsEnabled.`. Unrecognized keys are ignored; unresolved conflicts respond with `409`.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                conflictResolutions:
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties:
                    type: string
                    enum:
                    - overwrite
                    - discard
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/rebase' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/publish:
    post:
      operationId: postFeatureRevisionPublish
      summary: Publish a draft revision
      description: '**Deprecated.** Use POST /v2/features/:id/revisions/:version/publish instead.


        Immediately publishes a draft revision, making it the live version of the feature. Blocked if the org requires approvals and `bypassApprovalChecks` is off.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/publish' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/discard:
    post:
      operationId: postFeatureRevisionDiscard
      summary: Discard a draft revision
      description: '**Deprecated.** Use POST /v2/features/:id/revisions/:version/discard instead.


        Permanently discards a draft revision. Only drafts (never published revisions) can be discarded. Any pending ramp actions staged on the draft are dropped.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/discard' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
  /v1/features/{id}/revisions/{version}/revert:
    post:
      operationId: postFeatureRevisionRevert
      summary: Revert the feature to a prior revision
      description: '**Deprecated.** Use POST /v2/features/:id/revisions/:version/revert instead.


        Creates a new draft (or immediately publishes) whose content matches the specified historical revision.'
      deprecated: true
      tags:
      - feature-revisions
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - $ref: '#/components/parameters/version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                strategy:
                  type: string
                  enum:
                  - draft
                  - publish
                comment:
                  type: string
                title:
                  type: string
              additionalProperties: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    $ref: '#/components/schemas/FeatureRevision'
                required:
                - revision
                additionalProperties: false
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST 'https://api.growthbook.io/api/v1/features/{id}/revisions/{version}/revert' \\\n  -H 'Authorization: Bearer YOUR_API_KEY'"
components:
  parameters:
    limit:
      name: limit
      in: query
      description: The number of items to return
      schema:
        default: 10
        description: The number of items to return
        type: integer
        minimum: 1
        maximum: 100
    mine:
      name: mine
      in: query
      description: If true, return only revisions authored by or contributed to by the calling user. Requires a user-scoped API key. Mutually exclusive with `author`.
      schema:
        description: If true, return only revisions authored by or contributed to by the calling user. Requires a user-scoped API key. Mutually exclusive with `author`.
        anyOf:
        - type: string
          const: 'true'
        - type: string
          const: 'false'
        - type: string
          const: '0'
        - type: string
          const: '1'
        - type: boolean
    author:
      name: author
      in: query
      description: ''
      schema:
        type: string
    version:
      name: version
      in: path
      required: true
      description: ''
      schema:
        type: integer
    offset:
      name: offset
      in: query
      description: How many items to skip (use in conjunction with limit for pagination)
      schema:
        default: 0
        description: How many items to skip (use in conjunction with limit for pagination)
        type: integer
        minimum: 0
    status:
      name: status
      in: query
      description: ''
      schema:
        type: string
        enum:
        - draft
        - published
        - discarded
        - approved
        - changes-requested
        - pending-review
        - pending-parent
    ruleId:
      name: ruleId
      in: path
      required: true
      description: ''
      schema:
        type: string
    featureId:
      name: featureId
      in: query
      description: ''
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: The id of the requested resource
      schema:
        description: The id of the requested resource
        type: string
    skipPagination:
      name: skipPagination
      in: query
      description: 'If true, return all matching items and ignore limit/offset.

        Self-hosted only. Has no effect unless API_ALLOW_SKIP_PAGINATION is set to true or 1.'
      schema:
        description: 'If true, return all matching items and ignore limit/offset.

          Self-hosted only. Has no effect unless API_ALLOW_SKIP_PAGINATION is set to true or 1.'
        default: false
        anyOf:
        - type: string
          const: 'true'
        - type: string
          const: 'false'
        - type: string
          const: '0'
        - type: string
          const: '1'
        - type: boolean
      x-selfHostedOnly: true
      x-requiresEnv: API_ALLOW_SKIP_PAGINATION
  schemas:
    FeatureExperimentRefRule:
      allOf:
      - description: 'Common fields shared by all feature rule types. Specific rule types extend

          this base with their own required properties (value, coverage, etc.).

          '
        type: object
        properties:
          description:
            type: string
          condition:
            type: string
          id:
            type: string
          enabled:
            type: boolean
          scheduleRules:
            description: Simple time-based on/off schedule for this rule
            type: array
            items:
              $ref: '#/components/schemas/ScheduleRule'
          scheduleType:
            description: 'UI hint for which scheduling mode is active:

              - `none` – no schedule

              - `schedule` – simple time-based enable/disable via `scheduleRules`

              - `ramp` – multi-step ramp-up controlled by an associated RampSchedule document

              '
            type: string
            enum:
            - none
            - schedule
            - ramp
          savedGroupTargeting:
            type: array
            items:
              type: object
              properties:
                matchType:
                  type: string
                  enum:
                  - all
                  - any
                  - none
                savedGroups:
                  type: array
                  items:
                    type: string
              required:
              - matchType
              - savedGroups
              additionalProperties: false
          prerequisites:
            type: array
            items:
              type: object
              properties:
                id:
                  description: Feature ID of the prerequisite
                  type: string
                condition:
                  type: string
              required:
              - id
              - condition
              additionalProperties: false
        required:
        - description
        - id
        - enabled
        additionalProperties: false
      - type: object
        properties:
          type:
            type: string
            const: experiment-ref
          variations:
            type: array
            items:
              type: object
              properties:
                value:
                  type: string
                variationId:
                  type: string
              required:
              - value
              - variationId
              additionalProperties: false
          experimentId:
            type: string
        required:
        - type
        - variations
        - experimentId
        additionalProperties: false
    FeatureSafeRolloutRule:
      allOf:
      - description: 'Common fields shared by all feature rule types. Specific rule types extend

          this base with their own required properties (value, coverage, etc.).

          '
        type: object
        properties:
          description:
            type: string
          condition:
            type: string
          id:
            type: string
          enabled:
            type: boolean
          scheduleRules:
            description: Simple time-based on/off schedule for this rule
            type: array
            items:
              $ref: '#/components/schemas/ScheduleRule'
          scheduleType:
            description: 'UI hint for which scheduling mode is active:

              - `none` – no schedule

              - `schedule` – simple time-based enable/disable via `scheduleRules`

              - `ramp` – multi-step ramp-up controlled by an associated RampSchedule document

              '
            type: string
            enum:
            - none
            - schedule
            - ramp
          savedGroupTargeting:
            type: array
            items:
              type: object
              properties:
                matchType:
                  type: string
                  enum:
                  - all
                  - any
                  - none
                savedGroups:
                  type: array
                  items:
                    type: string
              required:
              - matchType
              - savedGroups
              additionalProperties: false
          prerequisites:
            type: array
            items:
              type: object
              properties:
                id:
                  description: Feature ID of the prerequisite
                  type: string
                condition:
                  type: string
              required:
              - id
              - condition
              additionalProperties: false
        required:
        - description
        - id
        - enabled
        additionalProperties: false
      - type: object
        properties:
          type:
            type: string
            const: safe-rollout
          controlValue:
            type: string
          variationValue:
            type: string
          seed:
            type: string
          hashAttribute:
            type: string
          trackingKey:
            type: string
          safeRolloutId:
            type: string
          status:
            type: string
            enum:
            - running
            - released
            - rolled-back
            - stopped
        required:
        - type
        - controlValue
        - variationValue
        additionalProperties: false
    FeatureRolloutRule:
      allOf:
      - description: 'Common fields shared by all feature rule types. Specific rule types extend

          this base with their own required properties (value, coverage, etc.).

          '
        type: object
        properties:
          description:
            type: string
          condition:
            type: string
          id:
            type: string
          enabled:
            type: boolean
          scheduleRules:
            description: Simple time-based on/off schedule for this rule
            type: array
            items:
              $ref: '#/components/schemas/ScheduleRule'
          scheduleType:
[...]
